#page-content {
    width: 50%;
    margin: 0 auto;
}

#home {
    color: white;
    font-size: 1.2em;
}

.home-button {
    background-color: #f44336;
    padding: 8px;
    border-radius: 5px;
    border-color: #f44336;
}